{#
/**
 * @file open-api-doc.html.twig
 * Default theme implementation for Open API.
 *
 * Available variables:
 * - open_api_doc_url: Url of the open api spec.
 * - open_api_doc_render: Setting configured by admin, redoc or swagger.
 *
 * @ingroup themeable
 */
#}
<div class="open-api-doc-wrapper">
  {% if open_api_doc_render == "redoc" %}
    <div class="redoc-ui-wrapper">
      <redoc spec-url={{ open_api_doc_url }}></redoc>
    </div>
  {% endif %}
  {% if open_api_doc_render == "swagger" %}
  <div class="swagger-ui-wrapper">
    <div id="swagger-ui"></div>
    <script>
      window.onload = function() {
        const ui = SwaggerUIBundle({
          url: "{{ open_api_doc_url }}",
          dom_id: '#swagger-ui',
          presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset
          ]
        })
        window.ui = ui
      }
    </script>
  </div>
  {% endif %}
</div>
